.cards-deporte{
    @include flex(row, center,center, 10px);
    flex-wrap: wrap;
    margin: 10px;
    
    .card{
        height: 380px;
        text-align: center;

        .card-img-top {
            height: 200px;
        }

        .card-body .card-text{
            font-weight: bold;
        }
    }
}