.footer {
    background-color: $nav-footer-color;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo-footer{
        height: 60px;
    }

    iframe {
        border-radius: 10px;
    }

    a {
        margin: 0 -60px;

        img{
            height: 40px;
            transition: .2s;

            &:hover{
                height: 45px;
            }
        }
    }
}