header{
    background-color: $nav-footer-color;

    .logo{
        width: 10%;
    } 

    .nav-link{
        color: #4e4e4e;
        font-size: 20px;
        transition: .2s;
        font-weight: bold;

        &:hover{
            color: #000000;
        }
    }

    .nav-item{
        margin: 0 10px;
    }

    .nav-link-contacto {
        background-color: #222222;
        color: $nav-footer-color;
        border-radius: 10px;
        font-size: 20px;
        padding: 8px;
        font-weight: bold;
        border: 2px solid #222222;
        text-decoration: none;
        transition: .2s;  

        &:hover {
            background-color: transparent;
            color: #222222;
            border: 2px solid #222222;
        }
    }
}  